*{
    padding: 5px;
    margin: 5px;
}

nav{
    background-color: blanchedalmond;
}

.main{
    background-color: black;
    opacity: 0.5;
    color: blanchedalmond;
}

body{
    background: url(../arch/images/maxresdefault.jpg) fixed no-repeat; /*shorthand property*/
    background-size: cover;
}

#h01{
    background-color: rgb(255, 66, 66);
    color: silver;
    text-align: center;
    border: 1px double black;
    border-radius: 5px;
}

button{
    background-color: lightblue;
}

#p01{
    background-color: rgb(231, 10, 10);
    color: rgb(44, 223, 255);
}