:root{
    --color1: black;
    --color2: linear-gradient(to bottom right, red, yellow);
    --color3: white;
}

body{
    margin: 0;
}

*{
    box-sizing: border-box;
}

.row, .header, .nav, .aside, .main, .footer{
    display: flex;
}

.header, .footer{
    justify-content: center;
    align-items: center;
    font-size: 40px;
    height: 300px;
    background-image: var(--color2);
    color: var(--color3);
    font-weight: bold;
}

.footer{
    border-top: var(--color1) 1px solid;
}

.nav{
    background-color: var(--color1);
}

.nav a{
    text-decoration: none;
    color: var(--color3);
    padding: 4px 8px;
    text-align: center;
}

.nav a:hover{
    background-color: var(--color3);
    color: var(--color1);
}

.row{
    flex-flow: row;
    flex-wrap: wrap;
}

.aside{
    width: 30%;
}

.aside:hover, .main:hover{
    background-color: rgb(211, 211, 211);
}

.main{
    width: 70%;
}

.main, .aside{
    padding: 15px;
    flex-flow: column;
}

@media screen and (max-width:700px){
    .nav{
        flex-direction: column;
    }

    .main, .aside{
        width: 100%;
        border: none;
    }
}

