div{
    border: 1px solid black;
    margin: 5px;
    padding: 15px;
}

.a > p{
    color: red;
}

.b p{
    color: rebeccapurple;
}

.c + p{
    color: green;
}

.d ~ p{
    color: teal;
}

.d:hover{
    background-color: rgb(85, 18, 6);
    color: white;
}

.c:active{
    background-color: blue;
    color: white;
}

.nav{
    display: block;
    background-color: green;
    color: white;
}

.nav li{
    list-style-type: none;
    padding: 5px;
}

.nav li:hover{
    background-color: red;
}

.nav>ul>li{
    display: inline-block;
}

.nav>ul>li>ul{
    display: none;
}

.nav>ul>li:hover>ul{
    display: block;
}